<!-- FOOTER -->
<footer class="footer">
    <div class="footer-container footer-container-1 footer-div">
        <div class="footer-logo-div">
            <div class="footer-logo-mask"></div>
            <p class="footer-logo-text">
                <a href="../index.html" class="footer-logo-item-link">YACHT ADVENTURES</a>
            </p>
        </div>
      
       <nav class="footer-nav">
            <div class="footer-nav-tabs">
                <a href="#about" class="footer-nav-tabs-text">ABOUT</a>
                <a href="#yachts" class="footer-nav-tabs-text">YACHTS</a>
                <a href="#reviews" class="footer-nav-tabs-text">REVIEWS</a>
            </div>
            <div class="footer-social">
                <p class="footer-social-text">WE IN SOCIAL</p>
                <ul class="footer-social-list">
                    <li class="footer-social-list-item">
                        <a href="https://www.facebook.com/" class="footer-logo-item-link-social">
                            <svg class="footer-social-icon footer-facebook-icon" width="10.1px" height="19.44px">
                                <use href="./img/footer/svg/footer-sprite-svg.svg#footer-icon-facebook"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="footer-social-list-item">
                        <a href="https://www.instagram.com/" class="footer-logo-item-link-social">
                            <svg class="footer-social-icon footer-instagram-icon" width="18.67px" height="18.67px">
                            <use href="./img/footer/svg/footer-sprite-svg.svg#footer-icon-instagram"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="footer-social-list-item">
                        <a href="https://www.youtube.com/" class="footer-logo-item-link-social">
                            <svg class="footer-social-icon footer-youtube-icon" width="22px" height="22px">
                                <use href="./img/footer/svg/footer-sprite-svg.svg#footer-icon-youtube"></use>
                            </svg>
                            </a>
                        </a>
                    </li>
                </ul>

            </div>
            <div class="footer-privacy-policy">              
                <ul class="footer-privacy-policy-list">
                    <li class="footer-privacy-policy-text">
                        <a href="#">2023. Yacht Adventures</a>
                    </li>
                    <li class="footer-privacy-policy-text">
                        <a href="#">Privacy Police</a>
                    </li>
                </ul>


            </div>
            
       </nav>
       
    </div>
        
</footer>