<!-- header section -->
<header class="header">
    <div class="header-container">
        <nav class="nav">
            <div class="container-logo">
                <a class="logo-header-link link" href="./index.html">
                    <span class="logo-header-text link">Yacht Adventures</span>
                </a>

            </div>
            


            <ul class="nav-list list">
                <li class="nav-item">
                    <a class="nav-link active link" href="#about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link" href="#yachts">Yachts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link" href="#reviews">Reviews</a>
                </li>
            </ul>
        </nav>

        <button class="menu-toggle js-open-menu" aria-expanded="false" aria-controls="mobile-menu">
            <svg class="menu-toggle-icon" width="24" height="24">
                <use href="../img/icon.svg#icon-burger-menu"></use>
            </svg>
        </button>
    </div>

    <!-- Mobile menu -->
    
    <div class="menu-container js-menu-container" id="mobile-menu">
          
        <div class="container-logo">
            <a class="logo-mobile-link logo-mobile link" href="./index.html">
                <span class="logo-header-text link">Yacht Adventures</span>
            </a>
        </div>
        
    
    
        <button class="menu-toggle js-close-menu">
            <svg class="modal-icon" width="24" height="24">
                <use href="./img/icon.svg#icon-mobile-close"></use>
            </svg>
        </button>
    
        <ul class="mobile-menu">
            <li class="mobile-item">
                <a class="mobile-link active-mobile link" href="#about">
                    About
                </a>
            </li>
            <li class="mobile-item">
                <a class="mobile-link link" href="#yachts">
                    Yachts
                </a>
            </li>
            <li class="mobile-item">
                <a class="mobile-link link" href="#reviews">
                    Reviews
                </a>
            </li>
        </ul>
    </div>

</header>
