<section class="section-rent">
    <div class="rent-block">
    
        <div class="block-one-rent">
    <h2 class="title-rent-block">Rent a yacht now</h2>
            <img src="./img/rent-block/img-yaht.png" alt="Yacht"  srcset="./img/rent-block/img-yaht.png 1x, ./img/rent-block/img-yaht@2x.png 2x" class="yacht-rent-img">
            
        </div>
    <div class="block-two-rent">
    <form class="form-yacht">
      <label for="full-name" class="label-text">Full Name</label>
            <input type="text" id="full-name" class="input-yacht" autocomplete="on">
    
            <label for="email" class="label-text">Email</label>
            <input type="email" id = "email" class="input-yacht" autocomplete="on">

            <label for="phone" class="label-text">Phone number</label>
            <input type="tel" id="phone" class="input-yacht" autocomplete="on">
        <label class="label-text">Comment
        <textarea class="textarea-yacht" ></textarea>
    </label>
  
    </form>
  
    <button type="submit" class="send-yacht" data-modal-open>Send
        <svg width="18" height = "8.66" class="svg-form">
            <use href = "./img/icon.svg#arrow_right">
            </use>
        </svg> 
    </button>
    </div>
</div>



<div data-modal class="modal-rent is-hidden">
    <div class="modal-rent-window">
        <button type="submit" data-modal-close class="modal-close-button">
            <svg  class="icon-modal-rent">
                <use href="./img/svg/modal-symbol.svg#icon-x"></use>
            </svg> 
            </button>
            <img src="./img/img-modal-yaht.png" alt="Yacht"  srcset="./img/img-modal-yaht.png 1x, ./img/img-modal-yaht@2x.png 2x" class="modal-yacht">
            <div class="modal-rent-content">
            <h2 class="modal-title-rent">Thank you</h2>
            <p class="modal-text-rent">Thank you for choosing Yacht Adventures, your booking details have been received and our team will be in touch shortly to confirm your reservation and provide any additional information or assistance you may need.</p>
    </div>
</div>
</div>
</section>
