<!--Main About Block-->
<section class="main-aboutsection container-ab">
	<div class="aboutblock-container ">
		<div class="text-about-container">
			<div class="about-container-title">
				<h2 class="about-title" id="about"><span class="about-title-span">Yacht Adventures</span> fleet is here to
					take you on the ultimate adventure.Each yacht is hand-picked for its comfort, style, and
					performance.
				</h2>
			</div>
			<div class="about-container-text">
				<ul class="advantages-list">
					<li class="advantages-item-one">
						<p class="about-text">
							From spacious decks to state-of-the-art technology, our yachts are designed to provide the perfect blend
							of luxury and functionality. Take a look at our selection below and choose the yacht that matches your
							needs and preferences.
						</p>
					</li>
					<li class="advantages-item-two">
						<p class="about-text">
							No matter which yacht you choose, our experienced crew will ensure that your journey is smooth and
							enjoyable. Book now and get ready for an unforgettable adventure on the high seas.
						</p>
					</li>
				</ul>
			</div>
		</div>
		<!-- Img_section -->
		<div class="img-holder">
			<!-- Dectop -->
			<div class="decktop-containert">
				<div class="desctop-container-img-one">
					<img class="desctop-img-yaht"
						srcset="./img/main-aboutblock/img_yahtdesk_1_1@1x.png 1x, ./img/main-aboutblock/img_yahtdesk_1_1@2x.png 2x"
						src="./img/main-aboutblock/img_yahtdesk_1_1@1x.png" alt="yacht_saloon" width="533" height="473">
				</div>
				<div class="desctop-container-img-two">
					<img class="desctop-img-yaht"
						srcset="./img/main-aboutblock/img_yahtdesk_1_2@1x.png 1x, ./img/main-aboutblock/img_yahtdesk_1_2@2x.png 2x"
						src="./img/main-aboutblock/img_yahtdesk_1_2@1x.png" alt="yacht_saloon" width="308" height="289">
				</div>
				<div class="desctop-container-img-three">
					<img class="desctop-img-yaht"
						srcset="./img/main-aboutblock/img-yahtdtm@1x.png 1x, ./img/main-aboutblock/img-yahtdtm@2x.png 2x"
						src="./img/main-aboutblock/img-yahtdtm@1x.png" alt="yacht" width="260" height="244">
				</div>
			</div>
			<!-- Tablet -->
			<div class="tablet-containert">
				<div class="tablet-container-img-one">
					<img class="tablet-img-yaht"
						srcset="./img/main-aboutblock/img_yahttab_2_1@1x.png 1x, ./img/main-aboutblock/img_yahttab_2_1@2x.png 2x"
						src="./img/main-aboutblock/img_yahttab_2_1@1x.png" alt="yacht_saloon" width="704" height="631">
				</div>
				<div class="tablet-container-img-two">
					<img class="tablet-img-yaht"
						srcset="./img/main-aboutblock/img_yahttab_2_2@1x.png 1x, ./img/main-aboutblock/img_yahttab_2_2@2x.png 2x"
						src="./img/main-aboutblock/img_yahttab_2_2@1x.png" alt="yacht_saloon" width="308" height="289">
				</div>
				<div class="tablet-container-img-three">
					<img class="tablet-img-yaht"
						srcset="./img/main-aboutblock/img-yahtdtm@1x.png 1x, ./img/main-aboutblock/img-yahtdtm@2x.png 2x"
						src="./img/main-aboutblock/img-yahtdtm@1x.png" alt="yacht" width="260" height="244">
				</div>
			</div>
			<!-- Mobile -->
			<div class="mobile-containert">
				<div class="mobile-one">
					<img class="mobile-img-yaht"
						srcset="./img/main-aboutblock/img_yahtmob_3_1@1x.png 1x, ./img/main-aboutblock/img_yahtmob_3_1@2x.png 2x"
						src="./img/main-aboutblock/img_yahtmob_3_1@1x.png" alt="yacht_saloon" width="320" height="524">
				</div>
				<div class="mobile-two">
					<img class="mobile-img-yaht"
						srcset="./img/main-aboutblock/img_yahtmob_3_2@1x.png 1x, ./img/main-aboutblock/img_yahtmob_3_2@2x.png 2x"
						src="./img/main-aboutblock/img_yahtmob_3_2@1x.png" alt="yacht_saloon" width="320" height="289">
				</div>
				<div class="mobile-three">
					<img class="mobile-img-yaht"
						srcset="./img/main-aboutblock/img-yahtdtm@1x.png 1x, ./img/main-aboutblock/img-yahtdtm@2x.png 2x"
						src="./img/main-aboutblock/img-yahtdtm@1x.png" alt="yacht" width="260" height="244">
				</div>
			</div>
		</div>
	</div>
</section>