<!--Main About Block-->
<section class="main-aboutblock">
    <div class="aboutblock-container">
        <div class="text-about-container">
            <h2 class="h-description"><span class="adventures-aboutblock">Yacht Adventures</span> fleet is here to
                take
                you on the ultimate adventure. Each yacht is hand-picked for its comfort, style, and performance.
            </h2>
            <div class="text-adv-container">
                <ul class="advantages-list">
                    <li class="description-item">
                        From spacious decks to state-of-the-art technology, our yachts are designed to provide the
                        perfect
                        blend
                        of luxury and functionality. Take a look at our selection below and choose the yacht that
                        matches
                        your
                        needs and preferences.
                    </li>
                    <li class="description-item">
                        No matter which yacht you choose, our experienced crew will ensure that your journey is
                        smooth
                        and
                        enjoyable. Book now and get ready for an unforgettable adventure on the high seas.
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="thumb">
        <div class="big-img-container">
            <img class="qrty" src="../img/main-aboutblock/img-yaht-1@1x.jpg">
            <svg class="big-yaht-card" width="533" height="473">
                <use href="./img/icon.svg#icon-img-yaht"></use>
            </svg>
        </div>
        <div class="mid-img-container">
            <img class="qrt" src="../img/main-aboutblock/img-yaht-2@1x.jpg">
            <svg class="mid-yaht-card" width="308" height="289">
                <use href="./img/icon.svg#icon-yaht-smol"></use>
            </svg>
        </div>
        <div class="lit-img-container">
            <img class="little-card" srcset="
                        ./img/main-aboutblock/img-yaht-3@1x.jpg 1x,
                    ./img/main-aboutblock/img-yaht-3@2x.jpg 2x" src="./img/main-aboutblock/img-yaht-3@1x.jpg"
                alt="Yacht top view" width="260" height="244">
        </div>
    </div>
    <div class="title-container">
        <div class="title-text-container">
            <h2 class="aboutblock-title">Choose your dream yacht and sail away into the sunset</h2>
        </div>
        <button type="button" class="aboutblock-button">Yacht rental</button>
    </div>
</section>