<!--Main About Block-->
<img srcset="
        ./img/main-aboutblock/img-yaht-1@1x.jpg 1x,
        ./img/main-aboutblock/img-yaht-1@2x.jpg 2x" src="./img/main-aboutblock/img-yaht-1@1x.jpg" alt="Deck on a yacht"
    width="533" height="473">
<img srcset="
            ./img/main-aboutblock/img-yaht-2@1x.jpg 1x,
            ./img/main-aboutblock/img-yaht-2@2x.jpg 2x" src="./img/main-aboutblock/img-yaht-2@1x.jpg"
    alt="Yacht inside" width="308" height="289">
<img srcset="
            ./img/main-aboutblock/img-yaht-3@1x.jpg 1x,
            ./img/main-aboutblock/img-yaht-3@2x.jpg 2x" src="./img/main-aboutblock/img-yaht-3@1x.jpg"
    alt="Yacht top view" width="260" height="244">
<section class="main-aboutblock section">
    <div class="aboutblock-container container">
        <h2 class="aboutblock-title">Choose your dream yacht and sail away into the sunset</h2>
        <button type="button" class="aboutblock-button" data-modal-open>Yacht rental</button>
    </div>
</section>