<section class="service-section" id="service">
    <div class="service-cont">
<ul class="service-list">

<li class="service-list-element">
<img class=" service-none diving"
alt="Diving"
srcset="./img/servics-block/mobile/diving@2x.jpg 2x"
 src="./img/servics-block/mobile/diving@1x.jpg">
 <button class="service-button">Diving</button>

</li>

<li class="service-list-element">

    <img class="service-none fishing" alt="Fishing"
    srcset="./img/servics-block/mobile/fishing@2x.jpg 2x"
    src="./img/servics-block/mobile/fishing@1x.jpg">

    <button class="service-button fish-butt">Fishing</button>


</li>


<li class="service-list-element">

    <img class="service-none sunbath" alt="Sunbathing"
    srcset="./img/servics-block/mobile/sunbathing@2x.jpg 2x"
    src="./img/servics-block/mobile/sunbathing@1x.jpg">

    <button class="service-button sunbath-butt">Sunbathing</button>


</li>

</ul>
</div>

    
</section>