/*Header*/

.header {
    background: transparent;
}


.header-container {
    width: 335px;
    margin: 0 auto;
    padding: 24px 20px;


    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin-bottom: 40px;


}

.wrapper-logo{
    display: flex;
    align-items: center;
}

.container-logo{
    position: relative;
    width: 16px;
    min-height: 18px;
    background: url(/img/footer/yacht-logo/sail-logo-icon-inversion.png);
    background-size: cover;
    margin-right: 8px;
}

.header-container::after {
    content: "";
    display: block;
    position: absolute;
    width: 335px;
    bottom: 7px;
    height: 1px;
    border: 1px;
    background-color: rgba(246, 245, 239, 0.20);
}



@media only screen and (min-width: 768px) {
    .header-container {
        width: 704px;
        padding: 32px;
        margin: 0 auto;
        margin-bottom: 64px;
    }

}

@media only screen and (min-width: 768px) {
    .header-container::after {
        width: 704px;
        
    }
}



@media only screen and (min-width: 1280px) {
    .header-container {
        width: 1216px;
        margin-bottom: 64px;
    }
}

@media only screen and (min-width: 1280px) {
    .header-container::after {
        width: 1216px;
    }
}




.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media only screen and (min-width: 768px) {

    .nav {
        width: 100%;
    }

}


.logo-header-link {
    display: flex;
    align-items: center;
    gap: 8px;
}

.logo-header-text {
    color:  #F6F5EF;
    font-family: DM Sans;


    font-weight: 700;
    line-height: 1.6;
    letter-spacing: 0.42px;
    text-transform: uppercase;
}

@media only screen and (min-width: 768px) {
    .nav-list {
        display: flex;
        gap: 24px;
    }
}

@media only screen and (max-width: 767px) {
    .nav-list {
        display: none;
    }
}

.nav-link {
    color:  #F6F5EF;
    font-weight: 700;
    line-height: 1.7;
    letter-spacing: 0.42px;
    text-transform: uppercase;
}





/*mobile menu*/


.menu-toggle-icon {
    stroke: #F6F5EF;
    background-color: #11131F;
}

.menu-toggle {
    position: absolute;
    top: 22px;
    right: 24px;
    background-color: transparent;
    border: none;
}

@media (min-width: 768px) {
    .menu-toggle {
        display: none;
    }
}

.menu-toggle:hover,
.menu-toggle:focus {
    background-color: rgba(0, 0, 0, 0.1);
}

.menu-container {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 24px 20px;
    background-color: #11131F;

    z-index: 999;
    transform: translateX(100%);
    transition: transform 250ms ease-in-out;

}



.menu-container::after {
    content: "";
    display: block;
    position: absolute;
    width: 335px;
    top: 72px;
    height: 1px;
    border: 1px;
    background-color: rgba(246, 245, 239, 0.2);
}

.menu-container:before {
    content: "";
    display: block;
    position: absolute;
    width: 279px;
    height: 279px;
    background-color: #91AFBA;
    opacity: 0.6;
    border-radius: 50%;
    filter: blur(100px);
    bottom: -5px;
    left: -155px;

}

.mobile-menu::after {
    content: "";
    display: block;
    position: absolute;
    width: 279px;
    height: 279px;
    background-color: #939cac;
    opacity: 0.9;
    border-radius: 50%;
    filter: blur(100px);
    bottom: -100px;
    right: -50px;

}

.mobile-container{
    display: flex;
    align-items: center;

}

.logo-mobile-link {
    display: flex;
    align-items: center;
    gap: 8px;
}

.menu-container.is-open {
    transform: translateX(0);
}


.mobile-menu {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 14px;
    margin-bottom: auto;
    margin-top: 140px;

}

.mobile-link {
    color:  #F6F5EF;
    font-family: DM Sans;
    font-weight: 700;
    line-height: 1.7;
    letter-spacing: 0.42px;
    text-transform: uppercase;
}