    .yahts-block{
        width: 100%;
    }
    .plansheter{
        display: block
    }
    .mobilsik{
        display: block;
    }
    .slider_wrapper {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        }
    .myslide {
        display: none;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        gap: 16px;
        }
    .slider_wrapper a {
        cursor: pointer;
    }
    @media screen and (min-width: 1280px) {
        .yahts-blemish{
            width: 414px;
            height: 414px;
            position: absolute;
            z-index: 50;
            left: 320px;
            top: 1940px;
            transform: rotate(-45.074deg);
            flex-shrink: 0;
            border-radius: 414px;
            opacity: 0.6;
            background: #91AFBA;
            filter: blur(100px);
            margin: 0 auto;
        }
        .yahts-blemish-two{
            position: absolute;
            z-index: 50;
            left: 770px;
            top: 1900px;
            width: 316px;
            height: 316px;
            transform: rotate(-45.074deg);
            flex-shrink: 0;
            border-radius: 316px;
            opacity: 0.4;
            background: #A6A9B2;
            filter: blur(100px);
            margin: 0 auto;
        }
        /* .yahts-con-shade{
            width: 260px;
            height: 124px;
            position: absolute;
            z-index: 1;
            left: 1200px;
            top: 350px;
            background-color: #11131F;
            opacity: 1;
            border-bottom-left-radius: 24px;
            border-bottom-right-radius: 24px;
            margin: 0 auto;
        } */

        
        .desctop-img-yahts{
            position: fixed;
            z-index: -20;


        }
        .tablet-img-yahts{
            display: none;
        }
        .mobile-img-yahts{
            display: none;
        }


        .btn-style {
            height: 68px;
            width: 68px;
        }
    
        .yahts-text-block{
            width: 882px;
            height: 442px;
            margin: 0 auto;
            margin-bottom: 164px;
        }
        .yahts-header{
            width: 882px;
            height: 330px;
            color: var(--white, #F6F5EF);
            font-family: 'DM Sans', sans-serif;
            font-size: 100px;
            font-weight: 500;
            line-height: 110%;
            letter-spacing: -4.5px;
            margin-bottom: 64px;
        }
        .yahts-send-buuton{
            padding: 14px 28px;
            border-radius: 60px;
            border: 1px solid var(--white, #F6F5EF);
            color: var(--white, #F6F5EF);
            font-family: 'DM Sans', sans-serif;
            font-size: 18px;
            font-weight: 700;
            line-height: 110%; 
            letter-spacing: -0.81px;
            background-color: transparent;
        }
        .yahts-send-buuton:hover, .yahts-send-buuton:focus{
            border: 1px solid var(--white, #54f190);
            color: var(--white, #54f190);
        }
        .yaht-butt{
            display: flex;
            padding: 14px 16px;
            align-items: flex-start;
            gap: 10px;
            border-radius: 60px;
            border: 1px solid var(--white, #F6F5EF);
        }
        .yahts-container{
            position: relative;
            z-index: 100;
            opacity: 1;
            top: -100px;
            width: 1216px;
            height: 1114px;
            margin: 0 auto;
            margin-bottom: 64px;
        }
        .yaht-butt-mob{
            display: none;
        }
        .yaht-butt-next{
            display: none;
        }
        @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
            .arrow{
                background-image: url(../img/main-yahtsblock/PC/arrowx2.jpg);
            }
        }
        @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
            .benetti{
                background-image: url(../img/main-yahtsblock/PC/BENETTI_OASISx2.jpg);
            }
        }
        @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
            .anna{
                background-image: url(../img/main-yahtsblock/PC/annax2.jpg);
            }
        }
        @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
            .ellen{
                background-image: url(../img/main-yahtsblock/PC/ellenx2.jpg);
            }
        }
        @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
            .mirage{
                background-image: url(../img/main-yahtsblock/PC/miragex2.jpg);
            }
        }
        @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
            .king{
                background-image: url(../img/main-yahtsblock/PC/kingx2.jpg);
            }
        }
        @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
            .salt{
                background-image: url(../img/main-yahtsblock/PC/saltx2.jpg);
            }
        }
        @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
            .storm{
                background-image: url(../img/main-yahtsblock/PC/stormx2.jpg);
            }
        }
        @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
            .collu{
                background-image: url(../img/main-yahtsblock/PC/collux2.jpg);
            }
        }
    }   
    .yahts-block{
        width: 100%;
    }
    .yahts-cont{
        width: 354px;
        height: 508px;
        border-radius: 24px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        background-color: #1F212D;
        margin: 0 auto;
    }
    .yahts-img {
        margin: 16px 16px 0 16px;
        display: block;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        border-radius: 24px;
    }
    .yahts-conainer-text {
        display: flex;
        align-items: baseline;
        justify-content: space-between;
        margin: 32px 32px 0 32px;
    }
    .yahts-text {
        color: var(--white, #F6F5EF);
        font-family: 'DM Sans', sans-serif;
        font-size: 16px;
        font-weight: 700;
        letter-spacing: -0.72px;
        text-transform: uppercase;
    }
    .yahts-write {
        color: var(--white, #F6F5EF);
        font-family: 'DM Sans', sans-serif;
        font-size: 12px;
        font-weight: 400;
        letter-spacing: 0.36px;
        text-transform: uppercase;
        opacity: 0.5;
    }
    .yahts-column-one{
        list-style: none;
        padding: 0;
        margin-left: 32px;
        opacity: 0.7;
    }
    .yahts-column-two{
        list-style: none;
        padding: 0;
        opacity: 0.7;
    }
    .yahts-tabl{
        display: flex;
        gap: 32px;
    }
    .yahts-tab-one {
        color: var(--white, #F6F5EF);
        font-family: 'DM Sans', sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 118%;
        letter-spacing: 0.42px;
        text-transform: uppercase;
        margin-bottom: 6px;
    }
    .yahts-tab-two {
        color: var(--white, #F6F5EF);
        font-family: 'DM Sans', sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 118%;
        letter-spacing: 0.42px;
        margin-bottom: 6px;
    }


/* Planshet */
@media screen and (min-width: 768px) and (max-width: 1279px){
    .yahts-blemish{
        width: 414px;
        height: 414px;
        position: relative;
        z-index: 50;
        left: 60px;
        top: -220px;
        transform: rotate(-45.074deg);
        flex-shrink: 0;
        border-radius: 414px;
        opacity: 0.5;
        background: #91AFBA;
        filter: blur(100px);
        margin: 0 auto;
    }
    .yahts-blemish-two{
        position: relative;
        z-index: 50;
        left: 300px;
        top: -500px;
        width: 316px;
        height: 316px;
        transform: rotate(-45.074deg);
        flex-shrink: 0;
        border-radius: 316px;
        opacity: 0.4;
        background: #A6A9B2;
        filter: blur(100px);
        margin: 0 auto;
    }
    .desctop-img-yahts{
        display: none;
    }
    .tablet-img-yahts{
        position: fixed;
        z-index: 0;
    }
    .mobile-img-yahts{
        display: none;
    }
    .btn-style {
        height: 68px;
        width: 68px;
    }

    .yahts-text-block{
        width: 640px;
        height: 343px;
        margin-bottom: 100px;
    }
    .yahts-header{
        width: 640px;
        height: 231px;
        color: var(--white, #F6F5EF);
        font-family: 'DM Sans', sans-serif;
        font-size: 70px;
        font-weight: 500;
        line-height: 110%;
        letter-spacing: -3.15px;
        margin-bottom: 64px;
    }
    .yahts-send-buuton{
        padding: 14px 28px;
        border-radius: 60px;
        border: 1px solid var(--white, #F6F5EF);
        color: var(--white, #F6F5EF);
        font-family: 'DM Sans', sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 110%; 
        letter-spacing: -0.81px;
        background-color: transparent;
    }
    .yahts-block{
        width: 100%;
    }
    .yahts-container{
        position: relative;
        z-index: 100;
        top: -750px;
        width: 704px;
        height: 1019px;
        margin: 0 auto;
        margin-bottom: -670px;
    }
    .plansheter{
        display: none;
    }
    .slider_wrapper {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        }
    .myslide {
        display: none;
        justify-content: center;
        align-items: center;
        gap: 16px;
        }
    .slider_wrapper a {
        cursor: pointer;
    }
    .yaht-butt{
        display: none;
    }
    .yaht-but-lef{
        padding: 14px 16px;
        border-radius: 60px;
        border: 1px solid var(--white, #F6F5EF);
    }
    .yaht-but-righ {
        padding: 14px 16px;
        border-radius: 60px;
        border: 1px solid var(--white, #F6F5EF);
    }
    
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        .arrow{
            background-image: url(./img/main-yahtsblock/Planshet/pl-arrow.jpg), url(./img/main-yahtsblock/Planshet/pl-arrowx2.jpg);
        }
    }
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        .benetti{
            background-image: url(./img/main-yahtsblock/Planshet/pl-benetti.jpg), url(./img/main-yahtsblock/Planshet/pl-benettix2.jpg);
        }
    }
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        .ellen{
            background-image: url(./img/main-yahtsblock/Planshet/pl-elen.jpg), url(./img/main-yahtsblock/Planshet/pl-elenx2.jpg);
        }
    }
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        .mirage{
            background-image: url(./img/main-yahtsblock/Planshet/pl-mirage.jpg), url(./img/main-yahtsblock/Planshet/pl-miragex2.jpg);
        }
    }
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        .salt{
            background-image: url(./img/main-yahtsblock/Planshet/pl-salt.jpg), url(./img/main-yahtsblock/Planshet/pl-saltx2.jpg);
        }
    }
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        .storm{
            background-image: url(./img/main-yahtsblock/Planshet/pl-storm.jpg), url(./img/main-yahtsblock/Planshet/pl-stormx2.jpg);
        }
    }
    .yahts-butt-mobile{
        display: flex;
        gap: 16px;
        align-items: center;
        justify-content: center;
        margin-top: 32px;
    }
}

/* Mobile */

@media screen and (min-width: 320px) and (max-width: 767px){
    .yahts-blemish{
        width: 255px;
        height: 255px;
        transform: rotate(-44.916deg);
        flex-shrink: 0;
        position: relative;
        z-index: 50;
        left: 60px;
        top: -220px;
        background:#91AFBA;
        opacity: 0.6000000238418579;
        filter: blur(100px);
        margin: 0 auto;
    }


    .desctop-img-yahts{
        display: none;
    }
    .tablet-img-yahts{
        display: none;
    }
    .mobile-img-yahts{
        position: fixed;
        z-index: 0;
    }
    .btn-style {
        height: 44px;
        width: 44px;
    }
    .yaht-but-top{
        width: 16px;
        height: 16px;
    }

    .yahts-text-block{
        min-width: 320px;
        width: 335px;
        height: 203px;
        margin-bottom: 80px;
    }
    .yahts-header{
        width: 310px;
        height: 120px;
        color: var(--white, #F6F5EF);
        font-family: 'DM Sans', sans-serif;
        font-size: 36px;
        font-weight: 500;
        line-height: 110%;
        letter-spacing: -1.62px;
        margin-bottom: 40px;
    }
    .yahts-send-buuton{
        padding: 14px 28px;
        border-radius: 60px;
        border: 1px solid var(--white, #F6F5EF);
        color: var(--white, #F6F5EF);
        font-family: 'DM Sans', sans-serif;
        font-size: 14px;
        font-weight: 700;
        line-height: 110%;
        letter-spacing: -0.63px;
        background-color: transparent;
    }
    .yahts-block{
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .yahts-container{
        min-width: 320px;
        max-width: 335px;
        position: relative;
        z-index: 100;
        top: -380px;
        height: 812px;
        margin-bottom: 80px;
    }
    .yahts-img{
        margin: 16px auto;
    }
    .myslide{
        max-width: 320px;
    }
    .yahts-cont{
        min-width: 320px;
        max-width: 335px;
        
        
    }
    .slider_wrapper{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .mobilsik{
        display: none;
    }
    .plansheter{
        display: none;
    }
    .yaht-butt{
        display: none;
    }
    .yahts-butt-mobile{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 14px;
    }
    .yaht-but-lef{
        margin-top: 24px;
        padding: 14px 16px;
        border-radius: 60px;
        border: 1px solid var(--white, #F6F5EF);
    }
    .yaht-but-righ {
        margin-top: 24px;
        padding: 14px 16px;
        border-radius: 60px;
        border: 1px solid var(--white, #F6F5EF);
    }
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        .arrow{
            background-image: url(./img/main-yahtsblock/Mobile/mob-arrow.jpg), url(./img/main-yahtsblock/Mobile/mob-arrowx2.jpg);
            max-width: 299px;
            height: 251px;
        }
    }
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        .ellen{
            background-image: url(./img/main-yahtsblock/Mobile/mob-elen.jpg), url(./img/main-yahtsblock/Mobile/mob-elenx2.jpg);
            width: 299px;
            height: 251px;
        }
    }
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        .salt{
            background-image: url(./img/main-yahtsblock/Mobile/mob-salt.jpg), url(./img/main-yahtsblock/Mobile/mob-saltx2.jpg);
            width: 299px;
            height: 251px;
        }
    }
}
.scroll-to-top {
    position: relative;
  }
  
  .btn-position {
    position: fixed;
    bottom: 40px;
    right: 25px;
    z-index: 200;
  }
  
  .btn-style {
    background-color:#93ABAE;
    border-radius: 8px;
    cursor: pointer;
    animation: movebtn 3s ease-in-out infinite;
    transition: all 0.5s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
  }
  .btn-style:hover {
    animation: none;
    background: #339caa;
  }
  
  @keyframes movebtn {
    0% {
      transform: translateY(0px);
    }
    25% {
      transform: translateY(20px);
    }
    50% {
      transform: translateY(0px);
    }
    75% {
      transform: translateY(-20px);
    }
    100% {
      transform: translateY(0px);
    }
  }
 .yaht-but-top{
    fill: var(--light-green, #93ABAE);
 }