img {
  display: block;
  border-radius: 24px;
}
.main-aboutblock {
  width: 100%;
}
/*Mobile*/
.aboutblock-container {
  min-width: 320px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  height: 1630px;
}
.adventures-aboutblock {
  font-family: DM Sans;
  font-size: 24px;
  font-style: italic;
  font-weight: 500;
  line-height: 120%; /* 28.8px */
  letter-spacing: -1.08px;
  background: var(
    --linear-green,
    linear-gradient(107deg, #bec7c2 0%, #a1b5ba 100%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.h-description {
  color: var(--white, #f6f5ef);
  font-family: DM Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: -1.08px;
  max-width: 335px;
  margin-bottom: 40px;
  padding-left: 0;
}

.description-item {
  color: var(--white, #f6f5ef);
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: -0.28px;
  display: inline-flex;
  align-items: flex-start;
  gap: 14px;
  margin-bottom: 40px;
  /* columns: 2 auto; */
}

.big-img-container::before {
  content: "";
  position: absolute;
  background: url(/img/main-aboutblock/img-yaht-1mob@1x) cover/ cover no-repeat;
  width: 335px;
  height: 524px;
  mix-blend-mode: screen;
}
/* .big-img-container::before {
  content: '';
  position: absolute;
  background: url(/img/main-aboutblock/img-yaht-2mob@1x) cover/ cover no-repeat;
 width: 335px;
height: 289px;
flex-shrink: 0;
  mix-blend-mode: screen;
} */
.aboutblock-title {
  color: var(--white, #f6f5ef);
  font-family: DM Sans;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%;
  letter-spacing: -1.62px;
  max-width: 310px;
  margin-bottom: 40px;
}
.aboutblock-button {
  border-radius: 60px;
  border: 1px solid #11131f;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  min-width: 131px;
  padding: 14px 28px;
  color: var(--white, #f6f5ef);
  font-size: 18px;
  font-weight: 700;
  line-height: 110%;
  letter-spacing: -0.81px;
  background: transparent;
}
/*Tablet*/
@media screen and (min-width: 768px) {
  .aboutblock-container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
  .main-aboutblock {
    width: 100%;
    height: 1755px;
  }
  .adventures-aboutblock {
    font-size: 32px;
    letter-spacing: -1.44px;
  }
  .h-description {
    font-size: 32px;
    letter-spacing: -1.44px;
    max-width: 514px;
    margin-bottom: 32px;
  }

  .big-img-container::before {
    content: "";
    position: absolute;
    background: url(/img/main-aboutblock/img-yaht-1tab@1x) cover/ cover
      no-repeat;
    width: 704px;
    height: 631px;
    mix-blend-mode: screen;
  }
  /* .big-img-container::before {
  content: '';
  position: absolute;
  background: url(./img/main-aboutblock/img-yaht-2tab@1x) cover/ cover no-repeat;
  width: 308px;
  height: 289px;
  mix-blend-mode: screen;
} */
  .aboutblock-title {
    font-size: 70px;
    letter-spacing: -3.15px;
    max-width: 641px;
    margin-bottom: 64px;
  }

  .aboutblock-button {
    border: 1px solid #11131f;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    min-width: 153px;
  }
}
/*Desktop*/
@media screen and (min-width: 1280px) {
  .aboutblock-container {
    max-width: 1280px;
    margin: 0 auto;
  }
  .main-aboutblock {
    width: 100%;
    height: 1385px;
  }

  .adventures-aboutblock {
    font-size: 32px;
    letter-spacing: -1.44px;
  }
  /* .text-adv-container {
    width: 400px;
    height: 242px;
    margin-right: 32px;
  }

  .advantages-list {
    display: inline-flex;
    align-items: flex-start;
    gap: 32px;
  } */

  .h-description {
    font-size: 32px;
    letter-spacing: -1.44px;
    max-width: 514px;
    margin-right: 302px;
  }
  .big-img-container::before {
    content: "";
    position: absolute;
    background: url(/img/main-aboutblock/img-yaht-1@1x) cover/ cover no-repeat;
    width: 533px;
    height: 473px;
    flex-shrink: 0;
    mix-blend-mode: screen;
  }
  /* .big-img-container::before {
  content: '';
  position: absolute;
  background: url(./img/main-aboutblock/img-yaht-2@1x) cover/ cover no-repeat;
 width: 308px;
height: 289px;
flex-shrink: 0;
  mix-blend-mode: screen;
} */
  .aboutblock-title {
    text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-size: 100px;
    letter-spacing: -4.5px;
    max-width: 882px;
    margin-bottom: 64px;
  }
  .aboutblock-button {
    border: 1px solid var(--white, #f6f5ef);
    color: var(--white, #f6f5ef);
  }
}
