img {
  display: block;
  border-radius: 24px;
}
.main-aboutblock {
  width: 100%;
  height: 1630px;
}
/*Mobile*/
.aboutblock-container {
  min-width: 320px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}
.adventures-aboutblock {
  font-family: DM Sans;
  font-size: 24px;
  font-style: italic;
  font-weight: 500;
  line-height: 120%; /* 28.8px */
  letter-spacing: -1.08px;
  background: var(
    --linear-green,
    linear-gradient(107deg, #bec7c2 0%, #a1b5ba 100%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.h-description {
  color: var(--white, #f6f5ef);
  font-family: DM Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: -1.08px;
  max-width: 335px;
  margin-bottom: 40px;
  padding-left: 0;
}

.advantages-list {
  display: flex;
  align-items: flex-start;
  gap: 32px;
}
.description-item {
  color: var(--white, #f6f5ef);
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: -0.28px;
  display: inline-flex;
  align-items: flex-start;
  gap: 14px;
  margin-bottom: 40px;
  /* columns: 2 auto; */
}
.big-yaht-card {
  border: 1px solid #11131f;
  background-image: url(../img/main-aboutblock/img-yaht-1mob@1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background: transparent;
}
.qrty {
  width: 335px;
  height: 524px;
  background: transparent;
}
.mid-yaht-card {
  border: 1px solid #11131f;
  background-image: url(../img/main-aboutblock/img-yaht-2mob@1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background: transparent;
}
.qrt {
  width: 335px;
  height: 289px;
  flex-shrink: 0;
  background: transparent;
}
.lit-img-container {
  margin-left: 95px;
  margin-right: 20px;
  z-index: 2;
}
.little-card {
}
.aboutblock-title {
  color: var(--white, #f6f5ef);
  font-family: DM Sans;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%;
  letter-spacing: -1.62px;
  max-width: 310px;
  margin-bottom: 40px;
  z-index: 1;
}
.aboutblock-button {
  border-radius: 60px;
  border: 1px solid #11131f;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  min-width: 131px;
  padding: 14px 28px;
  color: var(--white, #f6f5ef);
  font-size: 18px;
  font-weight: 700;
  line-height: 110%;
  letter-spacing: -0.81px;
  background: transparent;
}
/*Tablet*/
@media screen and (min-width: 768px) {
  .aboutblock-container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
  .main-aboutblock {
    width: 100%;
    height: 1755px;
  }
  .adventures-aboutblock {
    font-size: 32px;
    letter-spacing: -1.44px;
  }
  .h-description {
    font-size: 32px;
    letter-spacing: -1.44px;
    /* max-width: 514px; */
    margin-bottom: 32px;
  }
  .text-adv-container {
    width: 400px;
    height: 242px;
    margin-left: 336px;
  }
  .advantages-list {
    display: inline-flex;
    align-items: flex-start;
    gap: 32px;
  }
  .big-yaht-card {
    border: 1px solid #11131f;
    background-image: url(../img/main-aboutblock/img-yaht-1tab@1x.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background: transparent;
  }
  .qrty {
    width: 704px;
    height: 631px;
    flex-shrink: 0;
    background: transparent;
  }
  .mid-yaht-card {
    border: 1px solid #11131f;
    background-image: url(../img/main-aboutblock/img-yaht-2tab@1x.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background: transparent;
  }
  .qrt {
    width: 308px;
    height: 289px;
    flex-shrink: 0;
    background: transparent;
  }
  .lit-img-container {
    margin-left: 372px;
    margin-right: 136px;
    z-index: 2;
  }
  .little-card {
    width: 260px;
    height: 244px;
    flex-shrink: 0;
    border-radius: 24px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #11131f 100%),
      url(<path-to-image>), lightgray 50% / cover no-repeat;
  }
  .aboutblock-title {
    font-size: 70px;
    letter-spacing: -3.15px;
    /* max-width: 641px; */
    margin-bottom: 64px;
    z-index: 1;
  }

  .aboutblock-button {
    border: 1px solid #11131f;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    min-width: 153px;
  }
}
/*Desktop*/
@media screen and (min-width: 1280px) {
  .aboutblock-container {
    max-width: 1280px;
    margin: 0 auto;
  }
  .main-aboutblock {
    width: 100%;
    height: 1385px;
  }

  .adventures-aboutblock {
    font-size: 32px;
    letter-spacing: -1.44px;
  }
  .text-adv-container {
    width: 400px;
    height: 242px;
    margin-right: 848px;
  }

  .advantages-list {
    display: inline-flex;
    align-items: flex-start;
    gap: 32px;
  }

  .h-description {
    font-size: 32px;
    letter-spacing: -1.44px;
    /* max-width: 514px; */
    margin-right: 302px;
  }
  .big-yaht-card {
    border: 1px solid #11131f;
    background-image: url(../img/main-aboutblock/img-yaht-1@1x.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background: transparent;
  }
  .qrty {
    width: 533px;
    height: 473px;
    flex-shrink: 0;
    background: transparent;
  }
  .mid-yaht-card {
    border: 1px solid #11131f;
    background-image: url(../img/main-aboutblock/img-yaht-2@1x.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background: transparent;
  }
  .qrt {
    width: 308px;
    height: 289px;
    flex-shrink: 0;
    background: transparent;
    fill: url(../img/main-aboutblock/img-yaht-2@1x.jpg),
      lightgray 50% / cover no-repeat;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
  .lit-img-container {
    margin-left: 372px;
    margin-right: 648px;
    z-index: 2;
  }
  .little-card {
    width: 260px;
    height: 244px;
    flex-shrink: 0;
    border-radius: 24px;
    border: 1px solid #000;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #11131f 100%),
      url(../img/main-aboutblock/img-yaht-3@1x.jpg),
      lightgray -86.838px 0px / 166.799% 100% no-repeat;
  }
  .aboutblock-title {
    text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-size: 100px;
    letter-spacing: -4.5px;
    max-width: 882px;
    margin-bottom: 64px;
    z-index: 1;
  }
  .aboutblock-button {
    border: 1px solid var(--white, #f6f5ef);
    color: var(--white, #f6f5ef);
  }
}
