    .yahts-block{
        width: 1280px;
        background: #11131F;
    }
    .plansheter{
        display: block
    }
    .mobilsik{
        display: block;
    }
    .slider_wrapper {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        }
    .myslide {
        display: none;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        gap: 16px;
        }
    .slider_wrapper a {
        cursor: pointer;
    }
    @media screen and (min-width: 1280px) {
        .yaht-butt{
            display: flex;
            padding: 14px 16px;
            align-items: flex-start;
            gap: 10px;
            border-radius: 60px;
            border: 1px solid var(--white, #F6F5EF);
        }
        .yahts-container{
            width: 1216px;
            margin: 0 auto;
        }
        .yaht-butt-mob{
            display: none;
        }
        .yaht-butt-next{
            display: none;
        }
        @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
            .arrow{
                background-image: url(../img/main-yahtsblock/PC/arrowx2.jpg);
            }
        }
        @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
            .benetti{
                background-image: url(../img/main-yahtsblock/PC/BENETTI_OASISx2.jpg);
            }
        }
        @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
            .anna{
                background-image: url(../img/main-yahtsblock/PC/annax2.jpg);
            }
        }
        @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
            .ellen{
                background-image: url(../img/main-yahtsblock/PC/ellenx2.jpg);
            }
        }
        @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
            .mirage{
                background-image: url(../img/main-yahtsblock/PC/miragex2.jpg);
            }
        }
        @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
            .king{
                background-image: url(../img/main-yahtsblock/PC/kingx2.jpg);
            }
        }
        @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
            .salt{
                background-image: url(../img/main-yahtsblock/PC/saltx2.jpg);
            }
        }
        @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
            .storm{
                background-image: url(../img/main-yahtsblock/PC/stormx2.jpg);
            }
        }
        @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
            .collu{
                background-image: url(../img/main-yahtsblock/PC/collux2.jpg);
            }
        }
    }   
    .yahts-block{
        background: #11131F;
    }
    .yahts-cont{
        width: 354px;
        height: 508px;
        border-radius: 24px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        background-color: #1F212D;
        margin: 0 auto;
    }
    .yahts-img {
        margin: 16px 16px 0 16px;
        display: block;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        border-radius: 24px;
    }
    .yahts-conainer-text {
        display: flex;
        align-items: baseline;
        justify-content: space-between;
        margin: 32px 32px 0 32px;
        gap: auto;
    }
    .yahts-text {
        color: var(--white, #F6F5EF);
        font-family: 'DM Sans', sans-serif;
        font-size: 16px;
        font-weight: 700;
        letter-spacing: -0.72px;
        text-transform: uppercase;
    }
    .yahts-write {
        color: var(--white, #F6F5EF);
        font-family: 'DM Sans', sans-serif;
        font-size: 12px;
        font-weight: 400;
        letter-spacing: 0.36px;
        text-transform: uppercase;
        opacity: 0.5;
    }
    .yahts-column-one{
        list-style: none;
        padding: 0;
        margin-left: 32px;
        opacity: 0.7;
    }
    .yahts-column-two{
        list-style: none;
        padding: 0;
        opacity: 0.7;
    }
    .yahts-tabl{
        display: flex;
        gap: 32px;
    }
    .yahts-tab-one {
        color: var(--white, #F6F5EF);
        font-family: 'DM Sans', sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 118%;
        letter-spacing: 0.42px;
        text-transform: uppercase;
        margin-bottom: 6px;
    }
    .yahts-tab-two {
        color: var(--white, #F6F5EF);
        font-family: 'DM Sans', sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 118%;
        letter-spacing: 0.42px;
        margin-bottom: 6px;
    }


/* Planshet */
@media screen and (max-width: 1279px){
    .yahts-block{
        width: 768px;
        align-items: center;
        justify-content: center;
    }
    .yahts-container{
        width: 704px;
        height: 576px;
        margin: 0 auto;
        margin: 22px;
    }
    .plansheter{
        display: none;
    }
    .slider_wrapper {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        }
    .myslide {
        display: none;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        gap: 16px;
        }
    .slider_wrapper a {
        cursor: pointer;
    }
    .yaht-butt{
        display: none;
    }
    .yahts-block{
        background: #11131F;
    }
    .yaht-butt-mob {
            padding: 14px 16px;
            border-radius: 60px;
            border: 1px solid var(--white, #F6F5EF);
    }
    .yaht-butt-next {
            padding: 14px 16px;
            border-radius: 60px;
            border: 1px solid var(--white, #F6F5EF);
    }
    .butt-mobile{
        display: flex;
        gap: 32px;
        align-items: center;
        justify-content: center;
        margin-top: 32px;
    }
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        .arrow{
            background-image: url(../img/main-yahtsblock/Planshet/pl-arrow.jpg), url(../img/main-yahtsblock/Planshet/pl-arrowx2.jpg);
        }
    }
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        .benetti{
            background-image: url(../img/main-yahtsblock/Planshet/pl-benetti.jpg), url(../img/main-yahtsblock/Planshet/pl-benettix2.jpg);
        }
    }
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        .ellen{
            background-image: url(../img/main-yahtsblock/Planshet/pl-elen.jpg), url(../img/main-yahtsblock/Planshet/pl-elenx2.jpg);
        }
    }
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        .mirage{
            background-image: url(../img/main-yahtsblock/Planshet/pl-mirage.jpg), url(../img/main-yahtsblock/Planshet/pl-miragex2.jpg);
        }
    }
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        .salt{
            background-image: url(../img/main-yahtsblock/Planshet/pl-salt.jpg), url(../img/main-yahtsblock/Planshet/pl-saltx2.jpg);
        }
    }
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        .storm{
            background-image: url(../img/main-yahtsblock/Planshet/pl-storm.jpg), url(../img/main-yahtsblock/Planshet/pl-stormx2.jpg);
        }
    }
}
/* Mobile */

@media screen and (max-width: 767px){
    .yahts-block{
        width: 375px;
        background: #11131F;
        margin: 0 auto;
    }
    .yahts-container{
        width: 335px;
        margin: 0 auto;
    }
    
    .mobilsik{
        display: none;
    }
    .plansheter{
        display: none;
    }
    .yaht-butt{
        display: none;
    }
    .butt-mobile{
        margin-top: 24px;
    }
    .yaht-butt-mob {
        padding: 14px 16px;
        border-radius: 60px;
        border: 1px solid var(--white, #F6F5EF);
    }
    .yaht-butt-next {
        padding: 14px 16px;
        border-radius: 60px;
        border: 1px solid var(--white, #F6F5EF);
    }
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        .arrow{
            background-image: url(../img/main-yahtsblock/Mobile/mob-arrow.jpg), url(../img/main-yahtsblock/Mobile/mob-arrowx2.jpg);
        }
    }
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        .ellen{
            background-image: url(../img/main-yahtsblock/Mobile/mob-elen.jpg), url(../img/main-yahtsblock/Mobile/mob-elenx2.jpg);
        }
    }
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        .salt{
            background-image: url(../img/main-yahtsblock/Mobile/mob-salt.jpg), url(../img/main-yahtsblock/Mobile/mob-saltx2.jpg);
        }
    }
}