img {
    display: block;
}



.hero-container {
    /* min-width: 320px; */
    max-width: 335px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    height: 765px;
}




/* Tablet screen */

@media screen and (min-width: 768px) {
    .hero-container {
        max-width: 768px;
        padding-left: 32px;
        padding-right: 32px;
    }
}

/* Desctop screen */

@media screen and (min-width: 1280px) {
    .hero-container {
        max-width: 1216px;
        margin: 0 auto;

    }
}


.hero-section {
    width: 100%;
    margin-bottom: 80px;
}

@media screen and (min-width: 768px) {
    .hero-section {
        width: 100%;
        height: 956px;
        margin-bottom: 100px;
    }
}

@media screen and (min-width: 1280px) {
    .hero-section {
        width: 100%;
        height: 651px;
        margin-bottom: 164px;
    }

}



.hero-title {
    color: var(--footer-sand-color);
    font-family: DM Sans, sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: -1.62px;
    max-width: 332px;
    margin-bottom: 14px;
}

@media screen and (min-width: 768px) {
    .hero-title {
        font-size: 60px;
        max-width: 698px; 
        margin-bottom: 16px;
        letter-spacing: -2.7px;
    }

}

@media screen and (min-width: 1280px) {}

.hero-accent-text {
    color: #A1B5BA;
    /* background: var(--linear-green);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
}

@media screen and (min-width: 768px) {
    .hero-accent-text {
        font-style: italic;
    }
}

@media screen and (min-width: 1280px) {
.hero-text-container {
    width: 554px;
    margin-top: 76px;
}
}


.hero-text {
    font-family: DM Sans, sans-serif;
    color: var(--footer-sand-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: -0.28px;
    max-width: 284px;
    /* max-width: 332px; */
    margin-bottom: 24px;
}


@media screen and (min-width: 768px) {
    .hero-text {
        font-size: 16px;
        max-width: 539px;
        letter-spacing: -0.32px;
        margin-bottom: 32px;
        
    }
}

@media screen and (min-width: 1280px) {

    .hero-title {
        font-size: 60px;
        font-weight: 500;
        line-height: 1.1;
        letter-spacing: -2.7px;
        width: 554px;
    }

    .hero-text {
        max-width: 539px;
    }
}


.hero-button-one {
    border-radius: 60px;
    background: var(--footer-marine-color);
    min-width: 130px;
    padding: 14px 28px;
    color: #F6F5EF;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: -0.63px;
    margin-right: 8px;
    border: none;
}

.hero-button-one:hover {
    background-color: var(--btn-hover-color);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}


@media screen and (min-width: 768px) {
    .hero-button-one {
        font-size: 18px;
    }
}

.hero-button-two {
    border-radius: 60px;
    border: 1px solid var(--footer-sand-color);
    min-width: 104px;
    padding: 12px 28px;
    color: var(--footer-sand-color);
    font-size: 14px;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: -0.63px;
    background: transparent;
}

.hero-button-two:hover {
    color: var(--btn-hover-color);
    border-color: var(--btn-hover-color);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}

@media screen and (min-width: 768px) {
    .hero-button-two {
        font-size: 18px;
        padding: 11px 28px;
    }
}

.hero-clients {
    padding-top: 24px;
    padding-left: 24px;
    margin-top: 38px;
}

@media screen and (min-width: 768px) {
    .hero-clients {
        padding-top: 32px;
        padding-left: 32px;

    }
}

@media screen and (min-width: 1280px) {
    .hero-clients {
        margin-top: 0;
    }
}

.hero-clients-list {
    display: flex;
    flex-direction: row;
    margin-bottom: 13px;
}

@media screen and (min-width: 768px) {
    .hero-clients-list {
        margin-bottom: 11px;
    }
}


.client-one {
    display: flex;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    z-index: 3;
    width: 48px;
    height: 48px;
}

.client-two {
    display: flex;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    z-index: 2;
    left: -11px;
    width: 48px;
    height: 48px;
}



.client-three {
    display: flex;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    z-index: 1;
    left: -22px;
    width: 48px;
    height: 48px;
}

@media screen and (min-width: 768px) {

    .client-one,
    .client-two,
    .client-three {
        width: 56px;
        height: 56px;
    }
}

.hero-clients-text {
    position: absolute;
    color: var(--footer-darkblue-color);
    font-family: DM Sans, sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: 0.56px;
    text-transform: uppercase;

}

@media screen and (min-width: 1280px) {
    .hero-clients-text {
        letter-spacing: -0.81px;
    }
}


.hero-pics {
    /* background: url(/img/hero/rectangl.png) no-repeat;  */
    /* max-width: 363px; */
    max-height: 465px;
    /* flex-shrink: 0; */
    /* width: 320px; */

}

@media screen and (min-width: 768px) {
    .hero-pics {
        /* background: url(/img/hero/rectangle-tabl-desc.png) no-repeat; */
        max-width: 462px;
        max-height: 651px;
    }
}

@media screen and (min-width: 1280px) {
    .hero-pics {
        padding-right: 120px;
        margin-left: 0;
    }
}


.hero-pics::before {
    content: '';
    position: absolute;
    background: url(/img/hero/hero-bg-mobile@1x.jpg) lightgray 50% ;
    width: 280px;
    height: 427px;
    mix-blend-mode: screen;
    border-radius: 18px;

}

@media screen and (min-width: 768px) {
    .hero-pics::before {
        background: url(/img/hero/hero-bg-tablet@1x.jpg) lightgray 50% ;
        width: 426px;
        height: 598px;
        flex-shrink: 0;
    }
}

@media screen and (min-width: 1280px) {
    .hero-pics::before {
        background: url(/img/hero/hero-bg-desc@1x.jpg) lightgray 50% ;
    }
}

.hero-ceo {
    display: block;
    position: absolute;
    border-radius: 24px;
    margin-top: -50px;
    /* margin-left: 215px; */
    margin-left: 156px;


}

@media screen and (min-width: 768px) {
    .hero-ceo {
        width: 233px;
        height: 233px;
        margin-left: 345px;

    }
}

@media screen and (min-width: 1280px) {
    .hero-ceo {
        margin-left: 310px;
    }
}



.hero-yaht {
    display: block;
    position: absolute;
    margin-top: 52px;
    margin-left: -4px;

}

@media screen and (min-width: 768px) {
    .hero-yaht {
        width: 378px;
        height: 221px;
        margin-top: 111px;
        margin-left: 20px;
    }
}



.hero-book-now {
    display: flex;
    align-items: center;
    position: absolute;
    margin-top: 233px;
    /* margin-left: 24px; */
    margin-left: 0;
}

@media screen and (min-width: 768px) {
    .hero-book-now {
        margin-top: 354px;
        margin-left: 32px;
    }
}



.hero-price {
    color: var(--footer-darkblue-color);
    font-size: 48px;
    font-weight: 400;
    line-height: 1.1;
    letter-spacing: -2.16px;
    text-transform: uppercase;
    margin-right: 14px;

}

@media screen and (min-width: 768px) {
    .hero-price {
        font-size: 60px;
        letter-spacing: -2.7px;
    }
}


.hero-book-now-text {
    color: var(--footer-darkblue-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: -0.63px;
    width: 169px;
}

@media screen and (min-width: 768px) {
    .hero-book-now-text {
        font-size: 18px;
        letter-spacing: -0.81px;
        width: 208px;
    }
}

@media screen and (min-width: 1280px) {
    .hero-book-now-text {
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.1;
        letter-spacing: -0.81px;
    }
}


@media screen and (min-width: 1280px) {
    .wrap {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }
}


/* 
.hero-white-one {
    width: 279px;
    height: 279px;
    transform: rotate(-44.916deg);
    flex-shrink: 0;
    border-radius: 279px;
    opacity: 0.8999999761581421;
    background: #939CAC;
    filter: blur(100px);
    position: relative;
    z-index: -100;
    margin: 0 auto;
    display: none;
}

@media screen and (min-width: 768px) {
    .hero-white-one {
        width: 414px;
        height: 414px;
        border-radius: 414px;
        display: none;
    }
}

@media screen and (min-width: 1280px) {


.hero-white-two {
    width: 414px;
    height: 414px;
    transform: rotate(-44.094deg);
    flex-shrink: 0;
    border-radius: 414px;
    opacity: 0.6000000238418579;
    background: #91AFBA;
    filter: blur(100px);
    position: relative;
        z-index: -100;
        margin: 0 auto;
}

.hero-white-three {
        width: 316.907px;
        height: 316.908px;
        transform: rotate(-45.074deg);
        flex-shrink: 0;
        border-radius: 316.908px;
        opacity: 0.30000001192092896;
        background: #A6A9B2;
        filter: blur(100px);
        position: relative;
            z-index: -100;
            margin: 0 auto;
            display: none;
}
} */