/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./header.css');
@import url('./main-hero-section.css');
@import url('./main-aboutblock.css');
@import url('./main-yahtsblock.css');
@import url('./main-servicesblock.css');
@import url('./main-rentblock.css');
@import url('./main-rewievsblock.css');
@import url('./footer.css');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --footer-darkblue-color: #11131F;
  --footer-blue-color: #1F212D;
  --footer-marine-color: #93ABAE;
  --footer-sand-color: #F6F5EF;
}
body{
      width: 100%;
      height: 5891px;
      background-image: url(./img/main-yahtsblock/yachtadventures.jpg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
