/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./header.css');
@import url('./main-hero-section.css');
@import url('./main-aboutblock.css');
@import url('./main-yahtsblock.css');
@import url('./main-servicesblock.css');
@import url('./main-rentblock.css');
@import url('./main-rewievsblock.css');
@import url('./footer.css');

:root {
  

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --footer-darkblue-color: #11131F;
  --footer-blue-color: #1F212D;
  --footer-marine-color: #93ABAE;
  --footer-sand-color: #F6F5EF;
}
body{
      margin: 0;
      width: 100%;
      height: 5891px;
      background-image: url(../img/main-yahtsblock/yachtadventures.jpg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
    @media screen and (max-width: 1279px){
      body{
        background-image: url(../img/main-yahtsblock/Tablet.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
      }
    }
